<div class="welcome-container">
  <img src="assets/myflix-logo.png" alt="myFlix Logo" class="logo" />
  <p class="subheadline">Movies, TV shows, and much more!</p>
  <p class="subheadline">Get started or login now.</p>

  <div class="button-group">
    <button
      class="button_slide slide_right"
      (click)="openUserRegistrationDialog()"
    >
      Get Started
    </button>

    <button class="button_slide slide_right" (click)="openUserLoginDialog()">
      Login
    </button>
  </div>
</div>
