<mat-card>
  <mat-card-title>Edit Profile</mat-card-title>

  <mat-card-content>
    <form (ngSubmit)="updateUser()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Username"
          name="username"
          required
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Email"
          name="email"
          type="email"
          required
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Birthday</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Birthday"
          name="birthday"
          type="date"
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Password"
          name="password"
          type="password"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Save Changes
      </button>
      <button mat-button color="warn" type="button" (click)="deleteUser()">
        Delete Account
      </button>
    </form>
  </mat-card-content>
</mat-card>
